smart-design-lib
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
components.d.ts
.eslintrc-auto-import.json
auto-imports.d.ts
*.local
dist
*.log
node_modules
*.zip
.idea/
__unconfig_vite.config.ts
